<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{% block title %}{% end %}</title>
    <link rel="shortcut icon" href="/img/favicon.png"/>
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/common.css" rel="stylesheet">
    {% block styles %}{% end %}
    {% block scripts %}{% end %}
</head>
<body>
<header class="nav navbar-default navbar-static-top tg-nav" id="top" role="banner">
    <div class="container">
        <nav class="nav" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar tg-icon-bar"></span>
                        <span class="icon-bar tg-icon-bar"></span>
                        <span class="icon-bar tg-icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Thought</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Home</a></li>
                    </ul>
                    
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Account<span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                {% if current_user %}
                                    <li><a href="/auth/logout">Logout</a></li>
                                {% else %}
                                    <li><a href="/auth/login">Login</a></li>
                                    <li><a href="/auth/register">Register</a></li>
                                {% end %}
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="">Write</a></li>
                    </ul>

                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>
</header>

<div class="container">
    {% block double %}{% end %}
    {% block single %}{% end %}
</div>
<footer role="contentinfo">
    <div class="container">
        <div class="text-center">
            <p>京ICP备14038179号 © 2015 北京向上融科科技发展有限公司</p>
        </div>
    </div>
</footer>
{% block end_scripts %}{% end %}

</body>
</html>
