{% extends "../single.html" %}
{% block title %}Register{% end %}

{% block scripts %}


{% end %}

{% block main %}
<div class="row" id="app">
    <div class="col-md-4 col-md-push-4">
        <form class="form-horizontal" role="form" method="post">

            {% module xsrf_form_html() %}
        
            <div class="form-group" v-bind:class="{'has-error': email.emailError}" >
                <t-input cid="email" ctype="text" desc="Email" :msg="email.emailErrorMsg"></t-input>
            </div>

            <div class="form-group" v-bind:class="{'has-error': password.passwordError}">
                <t-input cid="password" ctype="password" desc="password" :msg="password.passwordErrorMsg"></t-input>
            </div>
            <div class="form-group" v-bind:class="{'has-error': confirm.confirmError}">
                <t-input cid="confirm" ctype="password" desc="confirm" :msg="confirm.confirmErrorMsg"></t-input>
            </div>

            <div class="form-group">
                <t-submit cid="register" value="Register" @click.stop.prevent="register('/api/v1/auth/register')" ></t-submit>
            </div>
        </form>
    </div>
</div>
{% end %}

{% block end_scripts %}
<script type="text/javascript" src="/static/dist/auth/register.js"></script>
{% end %}